/* css reset */
* {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
}

blockquote {
  margin: 0 0 0 30px;
  text-align: center;
}

h1,
h3 {
  font-family: ;
}

h3 {
  text-align: center;
  font-stretch: condensed;
  word-spacing: 6px;
}

blockquote {
  font-style: italic;
}

span {
    text-decoration: line-through;
}

a:link,
a:visited {
  text-decoration: none;
  color: aqua;
}

em {
    text-transform: capitalize;
}

strong {
    font-weight: bold;
    text-transform: uppercase;